.main-content-wrapper
  .leader-board-table{"ng-controller"=>"LeaderboardController", "ng-cloak"=>""}
    .leader-board-header.ib-container<
      .ib-col-8>
        %span> Foosballer
      .ib-col-4>
        %span> {{ currentStatHeaderTitle() }}
    %ul.no-list-style.leader-board-list
      %li{"ng-repeat"=>"player in players()"}
        .player.container
          .rank{"rank"=>"{{ rank(player) }}"} {{ rank(player) }}
          .col-xs-8
            %span {{ player.name }}
          .col-xs-4
            %span {{ currentStat(player) }}
