.scoring-button{"scoring-button"=>"", "direction"=>"-", "ng-click"=>"updateScore('-')"}>
%input{"name"=>"{{ name }}", "ng-model"=>"participant.goals", "type"=>"number", "min"=>"{{ min }}", "max"=>"{{ max }}"}>
.scoring-button{"scoring-button"=>"", "direction"=>"+", "ng-click"=>"updateScore('+')"}>
