input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  border: none;
  border-bottom: 1px solid $black;
  @include padding(em(20px) em(10px));
  width: 100%;
  font-size: em(20px);

  @include placeholder-content {
    font-size: em(20px);
  }

  @include transition(border-color $default-bezier-transition);

  + input[type="text"],
  + input[type="email"],
  + input[type="password"],
  + input[type="number"] {
    margin-top: em(20px)
  }
}

input {
  text-align: left;
}

input:focus, .focus {
  outline: none !important;
  border-color: $green !important;

  &.ng-invalid {
    border-color: $red !important;
  }
}

input[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

tags-input {
  * { font-family: $font-family-base !important; }
  border-bottom: 1px solid $black;
  @include transition(border-color $default-bezier-transition);

  &:focus {
    outline: none;
    border-color: $green;
  }

  .host {
    margin: 0;
  }

  .tags {
    font-size: em(20px);
    @include box-shadow(none !important);
    border: none;
    @include padding(em(16px) em(10px));
    min-height: em(64px);

    > input.input {
      font-size: inherit;
      height: 2em;

      @include placeholder-content {
        padding-left: 0.25em;
      }

      &[placeholder=""] {
        height: 0;

        &:focus {
          height: 2em;
        }
      }
    }

    > .tag-list {
      > .tag-item {
        font-size: inherit !important;
        height: 2em;
        line-height: 2em;

        .remove-button {
          font-size: 1em;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  & + tags-input {
    margin-top: em(20px);
  }

  .autocomplete .suggestion-item {
    font-size: 1em;

    *, em {
      font-size: 1em;
    }
  }
}

button {
  font-size: em(24px);
  @include padding(em(16px) em(10px));
}

.submit-button {
  width: 100%;
  margin-top: 1.5em;
}
