.leader-board-table {
  max-width: em($max-width);
  @include margin(null auto null auto);
  @include padding(em(40px) em(40px));

  span {
    font-size: em(20px);
  }
}

.leader-board-header {
  @extend .leader-board-row-side-padding;
  > * { color: #aaa; }
}

.leader-board-list {
  border-top: 1px solid $green;

  > li + li {
    border-top: 1px solid #ddd;
  }
}

.leader-board-row-side-padding {
  padding-left: em(40px);
  padding-right: em(20px);
}

.player {
  @extend .leader-board-row-side-padding;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.rank {
  font-size: 1.25em;
  position: absolute;
  left: 0;
  top: 50%;
  @include translate(0, -50%);
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 50%;
  border: 1px solid $green;
  background-color: white;
  text-align: center;
  color: $green;

  @for $i from 1 through 3 {
    &[rank="#{$i}"] {
      background-color: $green;
      color: white;
    }
  }
}

span {
  color: inherit;
}

.stats-list {
  span { font-size: 1.25em; }

  > a {
    color: #AAA;
    text-decoration: none;
  }

  > ul {
    position: absolute;
    top: 100%;
    right: 0;
    text-align: right;
    margin-top: 1px;
    margin-bottom: 0;
    z-index: 1;
    background-color: white;
    @include box-shadow(10px 50px 65px rgba(40, 40, 40, 0.3));
    overflow: hidden;

    > li {
      max-height: 0;

      @include transition(
        max-height $default-bezier-transition,
        border-top $default-bezier-transition
      );

      > a {
        display: block;
        padding-top: em(10px);
        padding-bottom: em(10px);
        padding-left: em(10px);
        padding-right: em(10px);
        color: #AAA;
        text-decoration: none;
        @include transition(
          background-color $default-bezier-transition,
          color $default-bezier-transition
        );

        &.selected, &.selected:hover {
          background-color: rgba(#8ACDCE, 0.35);
          color: white;
        }

        &:hover {
          background-color: rgba(#8ACDCE, 0.5);
          color: white;
        }
      }

      + li {
        border-top: 0px solid white;
      }
    }

    &.open {
      > li {
        max-height: 4em;

        + li {
          border-top: 1px solid $green;
        }
      }
    }
  }
}