.panel-view{panel_attrs(panel, (ng_controller rescue nil))}
  %header.orange
    %nav.center
      .inner-nav-content
        .panel-header= header

    - unless (no_close rescue false)
      %a.close-panel.glyphicon.glyphicon-remove{"ng-click"=>"$emit('closePanel', '#{panel}')"}

  = yield
